# Copy this file to .env and fill values (do NOT commit .env)
# Example values:
SECRET_KEY=replace-this-with-a-secure-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
STORE_LAT=-26.2041
STORE_LON=28.0473
STORE_NAME=Yvan Phone Store
GOOGLE_MAPS_API_KEY=
