{% extends 'store/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>All Phones</h2>

<div class="row">

{% for phone in phones %}
<div class="col-md-4">

    <div class="card">

        {% if phone.image %}
        <img src="{{ phone.image.url }}" class="card-img-top">
        {% endif %}

        <div class="card-body">
            <h5>{{ phone.name }}</h5>

            <p>{{ phone.price }} RWF</p>

            <a href="{% url 'store:phone_detail' phone.pk %}" class="btn btn-primary">
                View
            </a>
        </div>

    </div>

</div>
{% endfor %}

</div>

{% endblock %}